.columns{
    grid-template-columns: auto;
    justify-content: center;
}
.box{
    height: 200px;
    width: 500px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 20px;
    margin: 10px;
    padding: 20px;
}
.box h2{
    color: yellowgreen;
    font-size: 2rem;
    margin-bottom: 40px;
}
.box p{
    color: white;
    font-size: 1.1rem;
}

#submit{    
    
    padding: 2% 3%;
    margin: 17%;
    width: 15%;
    border-radius: 20px;
    background-color: #27d700dc;
    color: white;
    border: none;
    outline: none;
}